<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="walker.mybatisdaoj.test.dao.EditorDao">

    <select id="findEditorAndBooks" resultType="walker.mybatisdaoj.test.dpo.EditorExt">
        select a.editor_id, a.name, a.sex, c.book_id,c.title as book_title,c.price as book_price,c.publish_time as book_publish_time
        from editor a, book_editor b, book c
        <where>
            a.editor_id=b.editor_id and b.book_id = c.book_id
            <if test="title != null">
                and c.title like #{title}
            </if>
            <if test="editorName != null">
                and a.name like #{editorName}
            </if>
        </where>
    </select>

</mapper>

